body,
html,
* {
    font-size: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray;
}
.gallery {
   display: flex;
   align-items: center;
   text-align: center;
   flex-wrap: wrap;
   justify-content: space-around;
}

#form {
    font-size: 40px;
}

.header {
display: flex;
align-items: center;
text-align: center;
flex-wrap: wrap;
justify-content: space-around;
}

.card {

    align-content: center;
    font-size: 3rem;
    background-color: grey;
    padding: 2%;
    margin: 2rem 0;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 10px 10px white;
    transition: all .3s;
    width: 23%;
    height: 42vh;
}
.cardimg {
 
    outline-offset: 1rem;
    width: 240px;
}



.btn {
    background-color: white;
    border-radius: 10px;
    margin-top: 1rem;
}



